.section {
    margin-bottom: 20px;
}

.section h3 {
    margin-bottom: 10px;
}

ul.params {
    list-style-type: none;
}

ul.params li {
    margin-bottom: 0.5em;
}

ul.params label {
    padding-right: 0.5em;
}

ul.params input {
    padding: 0.1em;
    vertical-align: middle;
    margin: 0;
}

ul.params input:disabled {
    color: #888;
}

#queue-table td, #queue-table th {
    padding: 5px 10px;
}

#queue-table {
    width: 100%;
    margin: 0 auto;
}

#queue-filter {
    margin-bottom: 10px;
}

#course-tree ul {
    margin-bottom: 0;
}

#course-tree li {
    list-style: none;
}

#course-tree li.category {
    margin: 0.5em 0;
}

#course-tree li.category span.title {
    padding-left: 16px;
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url(../../pix/t/switch_minus.gif);
}

#course-tree li.category span.title.hidden {
    background-image: url(../../pix/t/switch_plus.gif);
}

#course-tree li input {
    vertical-align: middle;
    margin: 0;
}

.js-only {
    display: none;
}

#course-list {
    margin: 0;
}

.actions {
    margin: 5px 0;
}

